body {
  -webkit-appearance:none;
}

#mainList {
  display: flex;
}
#fullList {
  flex-wrap:wrap;
}
#actionButtons {
  flex-grow:1;
  align-content: stretch;
    max-width:80px;
    -webkit-appearance:none;
}
.columns {
  display:inline-flex;
}
#clear {

}
#submit {
  align-content: stretch;
  width:70px;
  min-height: 600px;
  justify-content: center;
}
#divCompetition {
  display: flex;
  -webkit-appearance:none;
}

#centerButtons {
  flex-direction: column;
  max-width:80px;
  align-content: stretch;

}
button {
  margin: 10px 5px;
}
